common/JAPANESECLASS.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JAPANESECLASS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LESSON" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="STORY" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LINE" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="LINK"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="translation" use="optional"/>
                        <xs:attribute type="xs:string" name="soundPath" use="optional"/>
                        <xs:attribute type="xs:byte" name="soundType" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="japaneseTitle" use="optional"/>
                  <xs:attribute type="xs:string" name="englishTitle" use="optional"/>
                  <xs:attribute type="xs:string" name="soundPath" use="optional"/>
                  <xs:attribute type="xs:byte" name="soundType" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="VOCABULARY" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="LINK" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="kanji" use="optional"/>
                  <xs:attribute type="xs:string" name="kana" use="optional"/>
                  <xs:attribute type="xs:string" name="english" use="optional"/>
                  <xs:attribute type="xs:string" name="old_html_label" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="GRAMMAR" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EXAMPLE" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="translation" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="LINK" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="japanese" use="optional"/>
                  <xs:attribute type="xs:string" name="english" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="KANJI" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EXAMPLE" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="translation" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="LINK" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="english" use="optional"/>
                  <xs:attribute type="xs:string" name="ji" use="optional"/>
                  <xs:attribute type="xs:string" name="kun" use="optional"/>
                  <xs:attribute type="xs:string" name="old_html_label" use="optional"/>
                  <xs:attribute type="xs:string" name="on" use="optional"/>
                  <xs:attribute type="xs:string" name="picPath" use="optional"/>
                  <xs:attribute type="xs:byte" name="picType" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="lessonNumber" use="required"/>
            <xs:attribute type="xs:string" name="unit" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="title"/>
      <xs:attribute type="xs:string" name="noGrammar" use="optional"/>
      <xs:attribute type="xs:string" name="noTranslation" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
